Django
pep8
python-dotenv
pillow
django-debug-toolbar
openai
markdown
annotated-types
anyio
asgiref
certifi
distro
exceptiongroup
h11
httpcore
httpx
idna
jiter
pydantic
pydantic_core
sniffio
sqlparse
tqdm
typing_extensions
