Django
pep8
python-dotenv
pillow
django-debug-toolbar
openai
psycopg2-binary
markdown
annotated-types
anyio
asgiref
certifi
distro
exceptiongroup
h11
httpcore
httpx
idna
jiter
pydantic
pydantic_core
sniffio
sqlparse
tqdm
typing_extensions
whitenoise

langchain
langchain-openai
langchain-community
sqlalchemy

faiss-cpu
